# SPDX-License-Identifier: MIT

DT_COMPAT_CODEKEEB_BATTERY_NRF_VDDH_CURVE := codekeeb,battery-nrf-vddh-curve

config CODEKEEB_BATTERY_NRF_VDDH_CURVE
    bool
    default $(dt_compat_enabled,$(DT_COMPAT_CODEKEEB_BATTERY_NRF_VDDH_CURVE))
    select ADC
    select ZMK_BATTERY
    depends on SENSOR
